[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "hystReet"]
	path = hystReet
	url = https://github.com/johannesfriedrich/hystreet
	shallow = true
	registered = true
[submodule "qoi"]
	path = qoi
	url = https://github.com/johannesfriedrich/qoi4r
	shallow = true
	registered = true
